<% let selector = ""; %>
<div class="row" id="content-message"<%= selector %>>
  <div class="col-md-12 mx-auto components-message">
    <div class="card panel-message" id="panelM">
      <div class="loader-page"></div>
      <img class="loader-imagen" src="/img/material-preloader.gif">
      <div class="container-destino">
        <i class="fas fa-chevron-left btn-prepanel"></i> <label class="title-destino" id="destinoM">Todos</label>
        <input type="hidden" class="selectorUser" value="Todos">
      </div>
      <div class="card-body card-message">
        <% let changeUser = "cotito"; %>
        <div class="container-message" id="Todos">
          <% if(dataMessages){
          for(let i=0; i<dataMessages.length; i++) { %>
          <% if(dataMessages[i].username){
          if(dataMessages[i].username.toUpperCase() == changeUser) { %>
            <div id="mensaje<%= dataMessages[i].id %>" class="identMessage mymessage message<%= dataMessages[i].username %>">
              <div class="contenidoimg">
              <img class="imguser" src="<%= dataMessages[i].foto %>">
              </div>
              <div class="mycontenidomessage">
                
              <strong class="nom-user-message"><%= dataMessages[i].nombre %></strong>
              <p class="res-message"><%= dataMessages[i].message %></p>
              
              </div><div class="horamessage">
                  <small class="hora"><%= dataMessages[i].date %></small>
              </div>
              <label id="<%= dataMessages[i].id %>"><i class="fas fa-check icon-ready"></i></label>
            </div>
          <% } else { %>
            <div id="mensaje<%= dataMessages[i].id %>" class="identMessage othermessage message<%= dataMessages[i].username %>">
              <div class="contenidoimg">
               <img class="imguser" src="<%= dataMessages[i].foto %>">
              </div>
              <div class="othercontenidomessage">
               
              <strong class="nom-user-message"><%= dataMessages[i].nombre %></strong>
              <p class="res-message"><%= dataMessages[i].message %></p>
              
              </div><div class="horamessage">
              <small class="hora"><%= dataMessages[i].date %></small>
              </div>
            </div>
          <% } %>
          <% } %>
          <% } }%>
         <% /* %>  <!-- <div class="card-body card-message">
          <% let changeUser = "cotito"; %>
          <div class="container-message" id="Todos">
            <% if(dataMessages){
            for(let i=0; i<dataMessages.length; i++) { %>
            <% if(dataMessages[i].username){
            if(dataMessages[i].username.toUpperCase() == changeUser) { %>
              <div id="mensaje<%= dataMessages[i].id %>" class="identMessage mymessage message<%= dataMessages[i].username %>">
                <div class="contenidoimg">
                <img class="imguser" src="<%= dataMessages[i].foto %>">
                </div>
                <div class="mycontenidomessage">
                  
                <strong class="nom-user-message"><%= dataMessages[i].nombre %></strong>
                <p class="res-message"><%= dataMessages[i].message %></p>
                
                </div><div class="horamessage">
                    <small class="hora"><%= dataMessages[i].date %></small>
                    <input type="hidden" class="idUsername" value="<%= dataMessages[i].username %>">
                </div>
                <label id="<%= dataMessages[i].id %>"><i class="fas fa-check icon-ready"></i></label>
              </div>
            <% } else { %>
              <% if(i>=1) { %>
              <% if(dataMessages[i].username == dataMessages[i-1].username) { %>
                <div id="mensaje<%= dataMessages[i].id %>" class="identMessage othermessage message<%= dataMessages[i].username %>">
                  
                  <div class="othercontenidomessage">
                   
                  <p class="res-message spacingSection"><%= dataMessages[i].message %></p>
                  
                  </div><div class="horamessage">
                  <small class="hora"><%= dataMessages[i].date %></small>
                  <input type="hidden" class="idUsername" value="<%= dataMessages[i].username %>">
                  </div>
                </div>
              <% }  else { %>
              <div id="mensaje<%= dataMessages[i].id %>" class="identMessage othermessage message<%= dataMessages[i].username %>">
                <div class="contenidoimg">
                 <img class="imguser" src="<%= dataMessages[i].foto %>">
                </div>
                <div class="othercontenidomessage">
                 
                <strong class="nom-user-message"><%= dataMessages[i].nombre %></strong>
                <p class="res-message"><%= dataMessages[i].message %></p>
                
                </div><div class="horamessage">
                <small class="hora"><%= dataMessages[i].date %></small>
                <input type="hidden" class="idUsername" value="<%= dataMessages[i].username %>">
                </div>
              </div>
            
            <% } } else { %>
              <div id="mensaje<%= dataMessages[i].id %>" class="identMessage othermessage message<%= dataMessages[i].username %>">
                <div class="contenidoimg">
                 <img class="imguser" src="<%= dataMessages[i].foto %>">
                </div>
                <div class="othercontenidomessage">
                 
                <strong class="nom-user-message"><%= dataMessages[i].nombre %></strong>
                <p class="res-message"><%= dataMessages[i].message %></p>
                
                </div><div class="horamessage">
                <small class="hora"><%= dataMessages[i].date %></small>
                <input type="hidden" class="idUsername" value="<%= dataMessages[i].username %>">
                </div>
              </div>
            <% } }%>
            <% } %>
            <% } }%>
          </div>
        </div> --> <% */ %>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-group form-message">
          <div class="focus-message">
            <div id="emojiWrapper" class="emojiWrapper"></div>
            <textarea class="form-control textMessage" id="textMessage" placeholder="Escriba algo"></textarea>
            <button class="btn btn-primary btnStickers"><i class="far fa-sticky-note"></i></button>
            <button class="btn btn-primary btnEnvio"><i class="far fa-paper-plane"></i></button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
