<% let selector = ""; %>

<div class="row" id="content-history"<%= selector %>>
  <div class="col-md-12 mx-auto">
    <div class="card">
      <div class="card-body card-history">
        <div class="container-history">
          <div class="chatnotify">
            <div class="messageschatnoti Todos" id="userhistory-1">

              <div class="contenidoimg">
                <img class="imguser" src="<%= userHistory.foto %>" />
              </div>
              <div class="contenidochatmessages">
                <strong class="name-user-history" id="username"><%= "Todos" %></strong>
                <div class="messagenofocus">
                <p class="contenidomessagenofocus"><%= userHistory.message %></p>
                  <small class="myNumberNoti codigoNumber">0</small>
                  <i class="fas fa-chevron-right"></i>
                </div>
              </div>
              <!--<div class="contenidoimg">
                <img class="imguser" src="img/user.png" />
              </div>
              <div class="contenidochatmessages">
                <strong>Todos</strong>
                <div class="messagenofocus">
                  <p class="contenidomessagenofocus">Hola como estas</p>
                  <i class="fas fa-chevron-right"></i>
                </div>
              </div>-->
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
